.filter-editor {
	// display: none;


	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	.stop {
		border: 1px solid blue;
	}
	.stop-name {
		width: 100%;
	}
	.destination {
		// flex: 1 0;
		display: flex;
		flex-flow: row;
		align-items: center;
	}

	.destination > div {
		// flex: 1 0;
		border: 1px solid red;
		white-space: nowrap;
	}

	.grow {
		flex: 1;
	}


}
