.filter-editor h4 {
	background-color: #F5F5F5;
	padding: 8px;
	margin-bottom: 0px;
}

.filter-stop {
	display: flex;
	flex-flow: column wrap;
	max-height: 480px;
	overflow-x: scroll;
	border: 2px solid #F5F5F5;
	padding-bottom: 6px;
}

.filter-destination {
	display: flex;
	flex-flow: row;
	align-items: center;
	padding: 4px;
	margin: 6px 6px 0px 6px;
	position: relative;

	> label {
		display: flex;
		font-weight: normal;
		align-items: center;
		margin: 0;
		width: 100%;
	}

	.fa {
		display: none;
		position: absolute;
		font-size: 2.8em;
		top: 1px;
		left: 2px;

	}

	&.disabled {
		background-color: #EEEEEE;
		opacity: 0.4;

		// .fa {
		// 	opacity: 0.8;
		// 	display: block;
		// 	position: absolute;
		// }
	}
}

.filter-checkbox {
	display: none;
}


.filter-destination-name {
	// flex: 1 0;
	white-space: nowrap;
	padding-left: 4px;
}

.filter-checkbox {
	padding-right: 4px;
}

.filter-destination-number {
	font-size: 0.4em;

	.number-generic {
		width: 30px;
		line-height: 32px;
	}
}
